USE [ICO_Activite]
GO
/****** Object:  StoredProcedure [dbo].[Preproc_B4_Prepare_Dataset_Encoding_V4]    Script Date: 26/07/2023 18:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[Preproc_B4_Prepare_Dataset_Encoding]    Script Date: 21/07/2023 17:23:24 ******/


CREATE PROCEDURE [dbo].[Preproc_B4_Prepare_Dataset_Encoding_V4] @TABLE_ACT nvarchar(50), @TABLE_UF nvarchar(50), @Summary nvarchar(5)
AS
SET NOCOUNT ON;

DECLARE
--@TABLE_ACT as nvarchar(50),
--@TABLE_UF as nvarchar(50),
--@TABLE_SORTIE_A as nvarchar(50),
--@TABLE_SORTIE_B  as nvarchar(50),
--@DATE_DEBUT_DATASET as DATETIME,
@Query as nvarchar(500)
--@Seuil as BIGINT,

--@Query as nvarchar(2000)
--@Dim_Parcours as nvarchar(50),
--@Dim_Parcours2 as nvarchar(50)

--SET @TABLE_UF='Listing_UF_V3' 
--SET @TABLE_ACT='A_Actes_ICO_2018_2021_TRIMED'
--SET @TABLE_SORTIE_A='Tmp_PS_'
--SET @TABLE_SORTIE_B='Tmp_Type_Sequence'

--SET @TABLE_ACT='Tmp_A_Actes_Table_Analyse'

--BINARY ENCODING DES ACTES :
	--CAtégorie = CONCATENATION DES UF + REFCCAM/NGAP/UFH

	--STEP 1 : CREER UNE TABLE AVEC ID_ACTE+CLE
		
		EXECUTE Delete_Table_if_exists Tmp_Acte_Encoding
		SELECT ID_A, CONCAT(UFX,'|',R_CCAM,R_NGAP,UFH) as Cle_Encode_acte INTO Tmp_Acte_Encoding FROM Tmp_A_Actes_Table_Analyse
	--STEP 2 : CREER LA TABLE DE BINARY ENCODING

		EXECUTE [dbo].[Preproc_B3_Label_Encoding] Tmp_Acte_Encoding, 'Tmp_Acte_Label_Table', 'Cle_Encode_acte'
	--STEP 3 : CREER UNE COLONNE AVEC ID_ACTE+CLE+ENCODING
		EXECUTE Delete_Table_if_exists Tmp_Acte_Encoded

		SELECT Tmp_Acte_Encoding.ID_A,Tmp_Acte_Label_Table.[Row_Encoded], Tmp_Acte_Encoding.Cle_Encode_acte as Cle_Acte_Encoded
		INTO Tmp_Acte_Encoded
		FROM [ICO_Activite].[dbo].[Tmp_Acte_Encoding] as Tmp_Acte_Encoding,
			 [ICO_Activite].[dbo].[Tmp_Acte_Label_Table] as Tmp_Acte_Label_Table
		WHERE Tmp_acte_Encoding.Cle_Encode_acte=Tmp_acte_Label_Table.Cle_Encode_acte
		

--LABEL ENCODING DES SEJOURS :
	--CAtégorie = CONCATENATION DES COLLECTIONS D'ACTES (Classés par DATE et UFX)

	--STEP 1 : CREER UNE TABLE AVEC ID_SEJOUR+CLE
		
		EXECUTE Delete_Table_if_exists Tmp_Sejour_Encoding
		
		SELECT N_S, STRING_AGG(table_Acte_Encoded.Cle_Acte_Encoded,'-') WITHIN GROUP (ORDER BY Table_sejour.DD_A asc, Table_sejour.UFX asc) as Cle_Encode_Sejour 
		
		INTO Tmp_Sejour_Encoding 
		
		FROM Tmp_A_Actes_Table_Analyse as Table_sejour, Tmp_Acte_Encoded as Table_Acte_Encoded
		WHERE Table_Acte_Encoded.ID_A=Table_sejour.ID_A
				-- AND AJOUTER FILTRE SUR LES CONDITIONS DE COLLECTION DE SEJOURS (POIDS > xx / NB ACTE > xx)
		GROUP BY N_S
		--CREATE INTERMED TABLE WITH ID_SEjour and AGGREGATE


	--STEP 2 : CREER LA TABLE DE BINARY ENCODING
	
		EXECUTE [dbo].[Preproc_B3_Label_Encoding] Tmp_Sejour_Encoding, 'Tmp_Sejour_Label_Table', 'Cle_Encode_Sejour'
	
	--STEP 3 : CREER UNE COLONNE AVEC ID_Sejour+CLE+ENCODING
		EXECUTE Delete_Table_if_exists Tmp_Sejour_Encoded
		
		SELECT Tmp_Sejour_Encoding.[N_S]
				,Tmp_Sejour_Label_Table.[Row_Encoded]
				, Tmp_Sejour_Encoding.Cle_Encode_Sejour as Cle_Sejour_Encoded
				, MIN(Tmp_A_Actes_Table_Analyse.DD_A) as DD_A
				, MAX(Tmp_A_Actes_Table_Analyse.DF_A) as DF_A
		INTO Tmp_Sejour_Encoded
		FROM [ICO_Activite].[dbo].[Tmp_Sejour_Encoding] as Tmp_Sejour_Encoding,
			 [ICO_Activite].[dbo].[Tmp_Sejour_Label_Table] as Tmp_Sejour_Label_Table,
			 [ICO_Activite].[dbo].[Tmp_A_Actes_Table_Analyse] as Tmp_A_Actes_Table_Analyse
		WHERE Tmp_Sejour_Encoding.Cle_Encode_Sejour=Tmp_Sejour_Label_Table.Cle_Encode_Sejour AND
			  Tmp_Sejour_Encoding.N_S=Tmp_A_Actes_Table_Analyse.N_S
		GROUP BY Tmp_Sejour_Encoding.[N_S],Tmp_Sejour_Label_Table.[Row_Encoded],Tmp_Sejour_Encoding.Cle_Encode_Sejour
		
	
	
--LABEL ENCODING DES SEQUENCES :
	--Catégorie = CONCATENATION DES COLLECTIONS DE SEJOURS (Classés par DATE)

	--STEP 1 : CREER UNE TABLE AVEC ID_SEQUENCE+CLE
		
		EXECUTE Delete_Table_if_exists Tmp_Sequence_Encoding
		SELECT id_Sequence, STRING_AGG(table_Sejour_Encoded.Cle_Sejour_Encoded,'-') WITHIN GROUP (ORDER BY Table_sequence.Ddebsej asc) as Cle_Encode_Sequence 
		
		INTO Tmp_Sequence_Encoding 
		
		FROM Tmp_Type_Sequence as Table_sequence, Tmp_Sejour_Encoded as Table_sejour_Encoded
		WHERE Table_sejour_Encoded.N_S=Table_sequence.N_S
				-- AND AJOUTER FILTRE SUR LES CONDITIONS DE COLLECTION DE SEJOURS (POIDS > xx / NB ACTE > xx)
		GROUP BY id_Sequence
		--CREATE INTERMED TABLE WITH ID_SEjour and AGGREGATE

	--STEP 2 : CREER LA TABLE DE BINARY ENCODING
	
		EXECUTE [dbo].[Preproc_B3_Label_Encoding] Tmp_Sequence_Encoding, 'Tmp_Sequence_Label_Table', 'Cle_Encode_Sequence'

	--STEP 3 : CREER UNE COLONNE AVEC ID_Sequence+CLE+ENCODING
		EXECUTE Delete_Table_if_exists Tmp_Sequence_Encoded
		
		SELECT Tmp_Sequence_Encoding.[id_Sequence]
				,Tmp_Sequence_Label_Table.[Row_Encoded]
				, Tmp_Sequence_Encoding.Cle_Encode_Sequence as Cle_Sequence_Encoded
				, MIN(Tmp_A_Actes_Table_Analyse.DD_A) as DD_A
				, MAX(Tmp_A_Actes_Table_Analyse.DF_A) as DF_A
		INTO Tmp_Sequence_Encoded
		FROM [ICO_Activite].[dbo].[Tmp_Sequence_Encoding] as Tmp_Sequence_Encoding,
			 [ICO_Activite].[dbo].[Tmp_Sequence_Label_Table] as Tmp_Sequence_Label_Table,
			 [ICO_Activite].[dbo].[Tmp_A_Actes_Table_Analyse] as Tmp_A_Actes_Table_Analyse,
			 [ICO_Activite].[dbo].[Tmp_Type_Sequence] as Tmp_Type_Sequence

		WHERE Tmp_Sequence_Encoding.Cle_Encode_Sequence=Tmp_Sequence_Label_Table.Cle_Encode_Sequence AND
			Tmp_Sequence_Encoding.id_Sequence=Tmp_Type_Sequence.id_Sequence AND
			Tmp_A_Actes_Table_Analyse.N_S=Tmp_Type_Sequence.N_S
		GROUP BY Tmp_Sequence_Encoding.[id_Sequence],Tmp_Sequence_Label_Table.[Row_Encoded],Tmp_Sequence_Encoding.Cle_Encode_Sequence


--LABEL ENCODING DES PARCOURS :
	--Catégorie = CONCATENATION DES COLLECTIONS DE SEQUENCES (Classés par DATE)

	--STEP 1 : CREER UNE TABLE AVEC ID_SEQUENCE+CLE
		
		EXECUTE Delete_Table_if_exists Tmp_Parcours_Encoding
		SELECT NIP, STRING_AGG(Table_Sequence_Encoded.Cle_Sequence_Encoded,'-') WITHIN GROUP (ORDER BY Table_Parcours.Ddebsej asc) as Cle_Encode_Parcours 
		
		INTO Tmp_Parcours_Encoding 
		
		FROM Tmp_Type_Sequence as Table_Parcours, Tmp_Sequence_Encoded as Table_Sequence_Encoded
		WHERE Table_Sequence_Encoded.id_Sequence=Table_Parcours.id_Sequence
				-- AND AJOUTER FILTRE SUR LES CONDITIONS DE COLLECTION DE SequenceS (POIDS > xx / NB ACTE > xx)
		GROUP BY NIP
		--CREATE INTERMED TABLE WITH ID_Sequence and AGGREGATE

	--STEP 2 : CREER LA TABLE DE BINARY ENCODING
	
		EXECUTE [dbo].[Preproc_B3_Label_Encoding] Tmp_Parcours_Encoding, 'Tmp_Parcours_Label_Table', 'Cle_Encode_Parcours'

	--STEP 3 : CREER UNE COLONNE AVEC ID_Parcours+CLE+ENCODING
		EXECUTE Delete_Table_if_exists Tmp_Parcours_Encoded
		
		SELECT Tmp_Parcours_Encoding.[NIP]
				,Tmp_Parcours_Label_Table.[Row_Encoded]
				, Tmp_Parcours_Encoding.Cle_Encode_Parcours as Cle_Parcours_Encoded
		
		INTO Tmp_Parcours_Encoded
		FROM [ICO_Activite].[dbo].[Tmp_Parcours_Encoding] as Tmp_Parcours_Encoding,
			 [ICO_Activite].[dbo].[Tmp_Parcours_Label_Table] as Tmp_Parcours_Label_Table
		WHERE Tmp_Parcours_Encoding.Cle_Encode_Parcours=Tmp_Parcours_Label_Table.Cle_Encode_Parcours


--LABEL ENCODING DES NIP :
	--Catégorie = CONCATENATION DES COLLECTIONS DE SEQUENCES (Classés par DATE)

	--STEP 1 : CREER UNE TABLE AVEC ID_SEQUENCE+CLE
		
		EXECUTE Delete_Table_if_exists Tmp_NIP_Encoding
		SELECT DISTINCT NIP as Cle_Encode_NIP
		INTO Tmp_NIP_Encoding 
		FROM Tmp_A_Actes_Table_Analyse

		--CREATE INTERMED TABLE WITH ID_Sequence and AGGREGATE

	--STEP 2 : CREER LA TABLE DE BINARY ENCODING
	
		EXECUTE [dbo].[Preproc_B3_Label_Encoding] Tmp_NIP_Encoding, 'Tmp_NIP_Label_Table', 'Cle_Encode_NIP'



--EXPORT A RESULT TABLE 

EXECUTE Delete_Table_if_exists Tmp_Full_Table_PArcours_Encoded

SELECT Table_acte_sejours.[NIP]
	  ,Encod_parcours.Cle_Encode_Parcours 
	  ,Table_Seq_NS.id_Sequence
	  ,Encod_Seq.Cle_Encode_Sequence
	  ,Table_acte_sejours.[N_S]
	  ,Encod_Sej.Cle_Encode_Sejour
	  ,Table_acte_sejours.[ID_A]
	  ,Encod_acte.Cle_Encode_acte
      ,Table_acte_sejours.[DD_A]
	  ,Table_acte_sejours.[DF_A]
	  ,Table_PS.J0_V1 as J0_V1
	  ,Table_Seq_NS.J0_V3 as J0_V3
	  ,DATEDIFF(D,Table_PS.J0_V1,Table_acte_sejours.[DD_A]) as J_Parcours_V1
	  ,DATEDIFF(D,Table_PS.J0_V2,Table_acte_sejours.[DD_A]) as J_Parcours_V2
	  ,DATEDIFF(D,Table_Seq_NS.J0_V3,Table_acte_sejours.[DD_A]) as J_Parcours_V3
	  ,DATEDIFF(D,'Jan  1 2018 12:00AM',Table_acte_sejours.[DD_A]) as J_DataSet
	  ,DATEDIFF(D,Table_acte_sejours.[DD_A],Table_acte_sejours.[DF_A])+1 as Duree
	  ,Table_UF.Service as Service
	  ,Table_UF.Activite as Activite
	  ,Table_UF.Phase_Parcours as Phase
	  ,Table_UF.Dimension_Parcours as Dimension
	  ,Table_Seq_NS.Type_Sequence as Type_seq
 INTO Tmp_Full_Table_PArcours_Encoded
 FROM  [ICO_Activite].[dbo].[Tmp_A_Actes_Table_Analyse] as Table_acte_sejours,
	   [ICO_Activite].[dbo].[Tmp_Type_Sequence] as Table_Seq_NS,
	   [ICO_Activite].[dbo].[Listing_UF_V3] as Table_UF,
	   [ICO_Activite].[dbo].[Tmp_PS_] as Table_PS,
	   [ICO_Activite].[dbo].[Tmp_Sequence_Encoding] as Encod_Seq,
	   [ICO_Activite].[dbo].[Tmp_Sejour_Encoding] as Encod_Sej,
	   [ICO_Activite].[dbo].[Tmp_Acte_Encoding] as Encod_acte,
	   [ICO_Activite].[dbo].[Tmp_Parcours_Encoding] as Encod_parcours

 WHERE  Table_acte_sejours.N_S=Table_PS.N_S AND
		Table_acte_sejours.N_S=Table_Seq_NS.N_S AND
		Table_UF.UFX_Code=Table_acte_sejours.UFX AND
		Encod_Seq.id_Sequence=Table_Seq_NS.id_Sequence AND
		Encod_Sej.N_S=Table_acte_sejours.N_S AND
		Encod_acte.ID_A=Table_acte_sejours.ID_A AND
		Encod_parcours.NIP=Table_acte_sejours.NIP
